/* colors
Text (Dark Gray): #2b2b2b;
Primary (Orange): #cc4400;
Secondary (Purple): #720eb1;
*/

:root {
  --primary-color: #cc4400;
  --primary-color-contrast: #c14000;
  --secondary-color: #720eb1;
  --dark-gray: #2b2b2b;
  --light-gray: #eeeeee;
  --debug-border: #7b5acc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-gray);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.375em;
}

a {color: var(--primary-color);}
a:visited {color: var(--secondary-color);}
a:hover, a:focus {text-decoration: none;}
a:active {color: var(--secondary-color);}

h1, h2, h3, h4 {
  color: var(--primary-color);
  font-weight: 700;
  font-family: 'Overpass', sans-serif;
}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.125em;}
h4 {font-size: 1em;}

.small {font-size:.5em;}
.r-align {text-align: right;}

header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--light-gray);
  border:1px solid var(--debug-border); /*DEBUG*/
}

.header__item {
  flex: 0 1 310px;
}

.header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

#logo {
  border:1px solid var(--debug-border); /*DEBUG*/
}

#logo img {
  width: 100%;
  max-width: 309px;
}

nav {
  display: inline;
  float: right;
  font-size: 1.05em;
  font-weight: 700;
  border:1px solid var(--debug-border); /*DEBUG*/
}

nav a {
  background:
    linear-gradient(
     to bottom, var(--secondary-color) 0%,
     var(--secondary-color) 100%
    );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  color: var(--primary-color-contrast);
  text-decoration: none;
  transition: background-size .2s;
}

nav a:visited {
  color: var(--primary-color-contrast); /*contrast*/
  text-decoration: none;
}

nav a:hover, nav a:focus {
  background-size: 4px 50px;
  color:#eee;
}

nav a.current, nav a.current:hover, nav a.current:focus {
  font-weight:400;
  color: var(--primary-color-contrast);
  cursor: default;
  text-decoration: none;
  background:none;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: .5em;
}

/* clear trick from thenetninja */
nav ul:after {
  content: "";
  display: block;
  clear: both;
}


#main-content {
  clear: both;
  margin: 10px;
  padding: 25px 15px;
  border:1px solid var(--debug-border); /*DEBUG*/
}

footer {
  clear: both;
  display: flex;
  flex-direction:column;
  width: 100%;
  padding: 20px;
  background-color: var(--light-gray);
  text-align: center;
  border:1px solid var(--debug-border); /*DEBUG*/
}

.footer__icons a:nth-of-type(1),
.footer__icons a:nth-of-type(2) {
  margin-right:15px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  border:1px solid var(--debug-border); /*DEBUG*/
}

.profile__portrait {
  float: left;
  width: 175px;
  margin-right: .75em;
  border-radius: 50%;
}

.contact {
  display: flex;
  width: 100%;
  border:1px solid var(--debug-border); /*DEBUG*/
}

@media screen and (max-width: 750px) {
  .contact {flex-direction: column;}
}



.contact__item {
  flex: 0 1 50%;
  border:1px solid var(--debug-border); /*DEBUG*/
}

.grid-work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

/*grid fallback*/
.grid-work__item {
  display: inline-block;
  width: .25%;
}

.grid-work__item {
  background-color: var(--light-gray);
  padding: .5em;
  width: auto;
  border: 1px solid #ccc;
}

.grid-work__item img {
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .grid-work {grid-gap: .75em;}

  .grid-work__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {font-size: 1.5em;}
  h2 {font-size: 1.25em;}
  h3 {font-size: 1em;}
}

@media screen and (max-width: 500px) {
  .grid-work {grid-template-columns: 1fr;}
}
@media screen and (min-width: 500px) and (max-width: 750px){
  .grid-work {grid-template-columns: 1fr 1fr;}
}
@media screen and (min-width: 750px) and (max-width: 1000px){
  .grid-work {grid-template-columns: 1fr 1fr 1fr;}
}



button, .button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.9s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.7;
}

p + table, svg + p {margin-top:50px;}

table {margin: 50px auto;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

caption, th {
  font-weight: bold;
  text-align: center;
}


@keyframes orange-purple {
  0% {fill: var(--primary-color);}
  100% {fill: var(--secondary-color);}
}

.petal-orange {
  animation: 6s orange-purple infinite alternate linear;
}

@keyframes purple-orange {
  0% {fill: var(--secondary-color);}
  100% {fill: var(--primary-color);}
}

.petal-purple {
  animation: 6s purple-orange infinite alternate linear;
}

@keyframes dot1-move {
  from {transform: translate(0, 0);}
  to {transform: translate(-100px, 50px);}
}

.dot1 {
  animation: 30s dot1-move infinite alternate linear;
}

@keyframes dot3-move {
  from {transform: translate(0, 0);}
  to {transform: translate(100px, 50px);}
}

.dot3 {
  animation: 30s dot3-move infinite alternate linear;
}
